{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block container %}
<div>
    <h1>Monthly Report</h1>
    <h2>Incomes</h2>
    <ul>
        {% for income in incomes %}
            <li>{{ income.category__name }}: {{ income.total }}</li>
        {% endfor %}
    </ul>
    <h2>Expenses</h2>
    <ul>
        {% for expense in expenses %}
            <li>{{ expense.category__name }}: {{ expense.total }}</li>
        {% endfor %}
    </ul>
    <button href="{% url 'add_income' %}">Add Income</button> |
    <button href="{% url 'add_expense' %}">Add Expense</button> |
    <button href="{% url 'logout' %}">Logout</button> |
    <button href="{% url 'index' %}">Back to Index</button>
</div>
{% endblock container %}
